<table id="clientList" class="table table-bordered table-hover table-striped">
						<thead class="thead-light">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Documento</th>
							<th scope="col">Nombre</th>
							<th scope="col">Direccion</th>
							<th scope="col">Numero telefonico</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="client: ${clientList}">
							<td th:text="${client.id}"></td>
							<td th:text="${client.name}"></td>
							<td th:text="${client.document}"></td>
							<td th:text="${client.address}"></td>
							<td th:text="${client.phone}"></td>
						</tr>
						</tbody>
</table>